<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectoubicacion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/favicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/favicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoUbicacion">

        <activity android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" android:name=".Activities.Acerca_de" />
        <activity android:name=".Activities.DetalleUbicacionActivity" />
        <activity android:name=".Activities.PrincipalActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/searchable" />
        </activity>
        <activity android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" android:name=".Activities.Desarrolladores" />
    </application>

</manifest>